@font-face {
    font-family: 'Silka';
    src: 
        url('./fonts/Silka/silka-regular-webfont.ttf') format('truetype'),
}

@font-face {
    font-family: 'Silka';
    src: 
        url('./fonts/Silka/silka-bold-webfont.ttf') format('truetype');
        font-weight: 700;
}
@font-face {
    font-family: 'Silka';
    src: 
        url('./fonts/Silka/silka-light-webfont.ttf') format('truetype');
        font-weight: 300;
}
@font-face {
    font-family: 'Silka';
    src: 
        url('./fonts/Silka/silka-medium-webfont.ttf') format('truetype');
        font-weight: 500;
}

body {
    font-family: 'Silka', sans-serif;
    font-size: 1.25em;
    color: #434343;
    background-color: #FFFCF8;
    margin:0;
    padding: 0;
}
html,
* {
    box-sizing: border-box;
  }
p{

    
    &--regular{
        font-size: 16px;
        font-weight: 500;
        margin-top: 0.3em;

        &-light{

            font-weight: 300;
            margin-top: 0.3em;
        }
    }

    &--small{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5em;

    }
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
    color: #434343;
    font-family: "Silka", sans-serif;
}



a {
    color: #33BFD9;
    text-decoration: none;
}

