{% extends 'base.html.twig' %}

{% block body %}
<style type="text/css">

   .twocolumns-container {
    position: relative;
    display:flex;
  }

  .twocolumns-container__image {
      flex-grow: 1;
      width: 10%;
      background-image:url("{{ asset('build/images/quadrillage_connection.png') }}");
      background-size: cover;
      background-position: center center;
    }

    .twocolumns-container__text {
      width: 50%;
      padding: 5em 5em;
    }
    
  </style>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            <h2>Bienvenue, {{ app.user.name }}!</h2>
        </div>
    {% endif %}

<div class="twocolumns-container">
        <div class="twocolumns-container__image"></div>
        <div class="twocolumns-container__text">
            <h1>Se connecter</h1>
            <p class="p--regular-light">Je n’ai pas de compte, <a href="/register">s’inscrire</a>.</p>  
            <div><input type="email" class="text-field" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus></div>
                    <div><input type="password" placeholder="Mot de Passe" name="password" id="inputPassword" class="form-control text-field" required></div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
</form>
        </div>
</div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</div>
{% endblock %}