{% extends 'base.html.twig' %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<style type="text/css">

   .twocolumns-container {
    position: relative;
    display:flex;
  }

  .twocolumns-container__image {
      flex-grow: 1;
      width: 10%;
      background-image:url("{{ asset('build/images/quadrillage_inscription-1.png') }}");
      background-size: cover;
      background-position: center center;
    }

    .twocolumns-container__text {
      width: 50%;
      padding: 5em 5em;
    }
    
  </style>

  <div class="twocolumns-container">
    <div class="twocolumns-container__text">
        <h1>S'inscrire</h1>
        <p class="p--regular-light">J’ai déjà un compte, <a href="/login">se connecter</a>.</p>  
            {{ form_start(registrationForm) }}
                        {{ form_widget(registrationForm.name,{'attr': {'placeholder': 'Prénom', 'class':'text-field'}})}}
                        {{ form_errors(registrationForm.email) }}
                        {{ form_widget(registrationForm.lastname,{'attr': {'placeholder': 'Nom', 'class':'text-field'}})}}
                        {{ form_errors(registrationForm.lastname) }}
                        {{ form_widget(registrationForm.phoneNumber,{'attr': {'placeholder': 'Numéro de téléphone', 'class':'text-field'}})}}
                        {{ form_errors(registrationForm.phoneNumber) }}
                        {{ form_widget(registrationForm.email,{'attr': {'placeholder': 'Email', 'class':'text-field'}})}}
                        {{ form_errors(registrationForm.email) }}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de passe', 'class':'text-field', 'label': 'Password'}} )}}
                        {{ form_errors(registrationForm.plainPassword)}}
                        {{ form_widget(registrationForm.ClientNumber,{'attr': {'placeholder': 'Numéro de client', 'class':'text-field'}}) }}
                        {{ form_errors(registrationForm.ClientNumber) }}
                        {{ form_widget(registrationForm.provider,{'attr': {'placeholder': 'Fournisseur'}}) }}
                        {{ form_errors(registrationForm.provider)}}
                        {{ form_row(registrationForm.agreeTerms, {label:'Je déclare avoir bien lu et accepter les conditions générales d’utilisation.'})}}
                        <p class="p--small">Les données à caractère personnel collectées font l’objet d’un traitement dont We Are Sun est le seul responsable, afin de vous permettre de créer et accéder à votre espace personnel. L’ensemble des données demandées est obligatoire. A défaut, vous ne pourrez pas créer votre espace client. En savoir plus sur la protection de vos données personnelles.</p>
                        <button class="btn-primary" type="submit">S'inscrire</button>
                    {{ form_end(registrationForm) }}          
    </div>
    <div class="twocolumns-container__image">
    </div>
</div>
{% endblock %}