{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block body %}
<style>
body{
background: linear-gradient(#FED393 0%, #FFAD7A 51%, #FFAE9D 75%);

}
/** CARD STYLES */
      .card{
    background-color: white;
    width: fit-content;
    display: inline-block;
    margin: 2em;
    outline: 1px solid black;
    min-width: 18em;
    min-height: 15em;
  }

  .card--header{
    outline: 1px solid black;
    display: flex;
  }

  .card--header-1{
    font-family: "Silka", sans-serif;
    font-weight: 500;
    border-right: 1px solid black;
    display: inline-block;
    width: 60%;
    height: 100%;
    padding: 2em;
  }

  .card--info-kw{
    border-right: 1px solid black;
    width: 55%;
    padding: 0.5em;
  }

  .card--header-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .card--description{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  
  .card--description ul {
  list-style: none; 
  padding-top: 1em;
  padding-left: 0;
}
  .card--description ul li::before{
  content: "\2022";  
  color: #FED393;
  font-weight: bold; 
  padding: 0.5em;
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
  }

  .small-icon {
    height: 3em;
    vertical-align: middle;
    margin: 0.5em;
  }

  .card--info-price{
    flex-grow: 1;
    background-color: #FED393;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .offer--section{
    display: flex;
    justify-content: center;
  }

  .rounded {
    border-radius: 35px;
    margin: 1em;
  }

  /** ONE COLUMN */

  .onecolumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
  }

  .onecolumn--header{
    font-weight: 700;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.20em;
  }

  .onecolumn-subtitle{
    padding: 0;
    width: 40em;
    margin: 0;
    text-align: center;
  }
  .orange {
    background-color: #FED393;
  }

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .btn--white{
    border-radius: inherit;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1em;
    padding: 0.75em;
  }

  .offer--options{
    display: flex;
    align-items: center;
    justify-content: center;
  }

</style>

    <div class="onecolumn">
        <h1 class="onecolumn--header">Offres d’énergie solaire</h1>
        <p class="onecolumn-subtitle p--regular center">Grace à notre outil de filtration, découvrez les offres qui vous correspondent le mieux selon deux types d’indice : le prix et la consommation. </p>
    </div>

<div class="offer--section">
{% for offer in offers %}
        {% if offer.status == 0 %}
    <div class="card">
      <div class="card--header">
        <div class="card--header-1">{{ offer.user.name }} {{ offer.user.lastname }}</div>
        <div class="card--header-2"><img class="small-icon" src="{{ asset('build/images/profile-icon.svg') }}"></img></div>
      </div>
      <div class="card--header">
        <div class="card--info-kw">{{ offer.quantityKW }} Kwh</div>
        <div class="card--info-price">CHF {{ offer.credits }}.-</div>
      </div>
      <div class="card--description">
        <ul>
          <li>Localisation : {{ offer.localisation }}</li>
        </ul>
          <a href="{{ path('offer_show', {'id': offer.id}) }}" class="link--learnMore btn--white">Découvrir</a>
      </div>
  </div>
  {% endif %}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </div>
    </div>
    <div class="offer--options">
    <a class="btn--white" href="{{ path('offer_new') }}">Créer une nouvelle offre</a>
    </div>
</div>

{% endblock %}
