{% extends 'base.html.twig' %} {% block title %} Profil {% endblock %} {% block
body %}
<style type="text/css">
  .--user {
    font-size: 10em;
    margin: 0;
    color: #434343;
    margin-top: 90px;
  }
  .img-header-profile {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
  }
  .index--null {
    z-index: -1;
  }
  .profile--user--block {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    z-index: 7;
    margin-top: 450px;
    background-color: white;
  }
  .profile--user {
    width: 50%;
    margin: 0 auto;
  }
  .flex--profile {
    display: flex;
    justify-content: center;
  }
  .bubble {
    border: 1px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-bubble {
    font-size: 35px;
  }
  .bubble h3 {
    font-size: 24px;
  }
  .data-profile {
    padding: 80px;
    width: 100%;
  }
  .user--offer--new {
    width: 80%;
    margin: 0 auto;
    
  }
  .user--offer--new h2 {
    text-align: center;
    margin-top: 80px;
    margin-bottom:80px;
  }
  .img--container--offer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .offer--new--img {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  .form--offer--new {
    width: 60%;
    margin: 0 auto;
  }
  .input--form--style {
    margin-top: 25px;
    width: 100%;
  }
  .input--form--style input textarea {
    width: 100% !important;
  }
  .credits--sections {
    width: 100%;
    background-color: #ffae9d;
  }
  .header--credits--sections {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }

  .flex--credits--items {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 35%;
    margin:0 auto;

  }
  .bubble--credits {
    border: 1px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bubble--content {
    font-size: 35px;
  }
  .data--credits{
    padding: 80px;
    width: 100%;
    text-align: center;
  }
  .flex--card--items{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 80%;
    padding-bottom: 100px;

    margin: 0 auto;
  }
  .card--items{
    margin: 20px;
    width: 50%;
    background-color: white;
    
  }
  .card--items h3{
    width: 100%;
    margin: 0;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    padding:35px;
  }
  .flex--elements--card{
    display: flex;
    align-items: center;
  }
  .price--card{
    width:60%;
    margin: 0;
    display: inline-block;

    border: 1px solid black;
  }
  .price--card p {
    margin-left: 10px;
  }
  .action--card{
    width:40%;
    display: inline-block;
    height: 100%;
    border: 1px solid black;
    background-color: #ffae9d;
    cursor:pointer;
    text-align: center;
  }
  .action--card a{
    color: #3B3B3B;
    padding: 10px;
  

  }
  .btn-right{
    margin-top: 50px;
  }
  .btn--submit{
    width: 60%;
    margin:0 auto;
    text-align: right;

  }
 /* START MODAL */

 .open-modal section{
   filter:opacity(0.5);
  filter:blur(20px);
 }

  .modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

.modal-window > div {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em;
    outline: 1px solid black;
    text-align: center;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

small {
  color: lightgray;
}

.btn {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 1rem;
  text-decoration: none;
}
.btn i {
  padding-right: 0.3em;
}

.btn-right-modal {
    width: fit-content;
    font-size: 0.7em;
    padding: 1em 2em;
    text-align: center;
    height: fit-content;
    border-radius: 2em;
    border: none;
    background-color: #333232;
    color: white;     
}

/* END MODAL STYLES */
</style>
<header class="index--null">
  <img
    class="img-header-profile"
    src="{{ asset('build/images/profile_background.png') }}"
    alt=""
  />
</header>
<section class="profile--user--block">
  <div class="profile--user">
    <a class="material-icons --user" href="#"> account_circle </a>
    <h2>{{ user.name }} {{ user.lastname }}</h2>
    <p class="description">
      Gérer vos offres et votre consomation grace à cette espace personnel. Vous
      trouverez toute les informations nécessaire à votre suivie et vous pourrez
      mettre à jour vos offres.
    </p>
  </div>
  <div class="flex--profile">
    <div class="data-profile">
      <div class="bubble">
        <p class="text-bubble">{{ user.quantityKW }}</p>
      </div>
      <h3>Kw</h3>
    </div>
    <div class="data-profile">
      <div class="bubble">
        <p class="text-bubble">{{ user.offer | length }}</p>
      </div>
      <h3>Offres publiées</h3>
    </div>
    <div class="data-profile">
      <div class="bubble">
        <p class="text-bubble">{{ user.transactionSent | length }}</p>
      </div>
      <h3>Achats effectués</h3>
    </div>
    <div class="data-profile">
      <div class="bubble">
        <p class="text-bubble">{{ user.credits }}</p>
      </div>
      <h3>Credits</h3>
    </div>
  </div>
</section>
<section class="credits--sections">
  <div class="header--credits--sections">
    <h2>Mes crédits</h2>
    <p>Suivre mon nombre de crédit et en acheter plus</p>
  </div>
  <div class="flex--credits--items">
    <div class="data--credits">
      <div class="bubble--credits">
        <div class="bubble--content">{{ user.credits | length }}</div>
      </div>
      <h3>Achats</h3>
    </div>
    <div class="data--credits">
      <div class="bubble--credits">
        <div class="bubble--content">{{ user.credits }}</div>
      </div>
      <h3>Crédits actuels</h3>
    </div>
  </div>

  <div class="flex--card--items">      
    <div class="card--items">
      <h3> 5 crédits</h3>
      <div class="flex--elements--card">
        <div class="price--card"><p>CHF 25.-</p></div>
        <div class="action--card"><p><a href="#open-modal">Acheter</a></p></div>
      </div>
    </div>
    <div class="card--items">
      <h3>  10 crédits</h3>
      <div class="flex--elements--card">
        <div class="price--card"><p>CHF 50.-</p></div>
        <div class="action--card"><p><a href="#open-modal">Acheter</a></p></div>
      </div>
    </div>    
    <div class="card--items">
      <h3> 20 crédits</h3>
      <div class="flex--elements--card">
        <div class="price--card"><p>CHF 100.-</p></div>
        <div class="action--card"><p><a href="#open-modal" >Acheter</a></p></div>
      </div>
    </div>
  </div>
  <!--TEST MODAL -->
  <div id="open-modal" class="modal-window">
  <div>
    <a href="#" title="Close" class="modal-close">Fermer</a>
    <h2>Confirmez-vous votre achat ?</h2>
    <div class="card--items-modal">
      <h3> 20 crédits</h3>
      <div class="flex--elements--card-modal">
        <div class="price--card-modal"><p>CHF 100.-</p></div>
      </div>
    </div>
    <div><a href="#" class="btn-right-modal">Publier l'offre</a></div>
    </div>
</div>
<!--!END TEST MODAL -->
</section>
<section class="user--offer--new">
  <h2>Publier une offre</h2>
  <div class="img--container--offer">
    <img
      class="offer--new--img"
      src="{{ asset('build/images/offerHeader.png') }}"
      alt=""
    />
  </div>
  <div class="form--offer--new">
    {{ form_start(form) }}
    <div class="input--form--style">
      {{ form_label(form.localisation, "Localisation") }}
      {{ form_widget(form.localisation,{'attr':{'class':'form-input-offer','placeholder' :'Renseignez votre localisation'

      }}) }}
    </div>
    <div class="input--form--style">
      {{ form_label(form.description, "Description") }}
      {{ form_widget(form.description,{'attr':{'class':'form-input-offer','placeholder' :'Description'

      }}) }}
    </div>
    <div class="input--form--style">
      {{ form_label(form.quantityKW, "Quantité proposée") }}
      {{ form_widget(form.quantityKW,{'attr':{'class':'form-input-offer','placeholder' :'Quantité','type':'text'

      }}) }}
    </div>
    <!--addEventlistener on change input kw value-->
  </div>
  <div id="price">
    <!-- /**setinnerHTML of price input value on change * price kw*/ -->
  </div>
  <div class="btn--submit">
    <button type="submit" class="btn-right">Publier l'offre</button>
  </div>
    {{ form_end(form) }}
</section>
{% endblock %}
