{% extends 'base.html.twig' %} {% block title %}Offer{% endblock %} {% block
body %}
<style type="text/css">
  .header--offer {
    width: 100%;
    background: rgb(254, 211, 147);
    background: linear-gradient(
      90deg,
      rgba(254, 211, 147, 1) 50%,
      rgba(255, 174, 157, 1) 50%
    );
    position: relative;
  }
  .title--Offer {
    width: 50%;
    font-size: 60px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .img--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .img--center img {
    width: 100%;
    display: block;
  }

  .user--offer {
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .user--id--offer {
    color: #434343;
    padding: 10px;
  }
  .material-icons {
    font-size: 1.5em;
    margin: 0;
    color: #434343;
  }
  .container--offer {
    width: 50%;
    margin: 0 auto;
  }
  .offer--details h2,
  p {
    color: #3b3b3b;
    margin-top: 30px;
    font-size: 0.75em;
    width: 100%;
    line-height: 35px;
    font-weight: 400;
  }
  .offer--details h2 {
    color: #3b3b3b;
    font-size: 1em;
  }
  .btn--buy {
    min-width: 80px;
    padding: 10px 15px;
    border-radius: 0%;
    background-color: #ffae9d;
    margin-left: 25px;
    float: right;
    color: #151517;
    font-weight: 500;
    font-size: 20px;
  }

  .price--buy {
    text-align: right;
  }
  .marquee img {
    padding: 35px;
    margin-top: 100px;
  }
  .card--items {
    width: 50%;
    margin: 0 auto;
    background-color: white;
  }
  .card--items h3 {
    width: 100%;
    margin: 0;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    padding: 35px;
  }
  .flex--elements--card {
    display: flex;
    align-items: center;
  }
  .price--card {
    width: 60%;
    margin: 0;
    display: inline-block;

    border: 1px solid black;
  }
  .price--card p {
    margin-left: 10px;
  }
  .action--card {
    width: 40%;
    display: inline-block;
    height: 100%;
    border: 1px solid black;
    background-color: #ffae9d;
    cursor: pointer;
    text-align: center;
  }
  .action--card a {
    color: #3b3b3b;
    padding: 10px;
  }
  html.open {
    overflow: hidden;
  }
  body.open {
    overflow: hidden;
  }
  #myModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4001;
    display: none;
    text-align: center;
    background-color: #ffae9d;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
  }

  #myModal.open {
    display: block;
  }

  #overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4000;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
  }
  #overlay.open {
    display: block;
  }
</style>
<header class="header--offer">
  <h1 class="title--Offer">Détails de l'offre</h1>
  <div class="user--offer">
    <a class="material-icons" href="#"> account_circle </a>
    <a class="user--id--offer" href="#!">
      {{ user.name }}
      {{ user.lastname }}
    </a>
  </div>
  <div class="img--center">
    <img
      src="{{ asset('build/images/offerHeader.png') }}"
      alt="image de l'utilisateur"
    />
  </div>
</header>

<section class="container--offer">
  <div class="offer__details">
    <h2>
      {{ offer.quantityKW }} Kwh, pour le prix de {{ offer.credits }} crédits
    </h2>
    <p>
      Stocker le surplus d'énergie produite par notre installation chez vous.
      Ainsi, pendant la soirée, à la place de consommer l'électricité du réseau
      électrique, vous utilisez l'électricité stockée dans vos batteries.
    </p>
    <p>
      Notre surplus d’énergie solaire produite se situe actuellement à
      {{ offer.quantityKW }} Kwh pour le prix de {{ offer.credits }} crédits
      Nous retiendrons simplement la réponse la plus rapide.
    </p>
    <p>Localisation : {{ offer.localisation }}</p>
  </div>
  {% if user.id == offer.user.id %}
  <div class="price--buy">
    <p>Prix total : {{ offer.credits }}</p>
    <a href="{{ path('offer_edit', { id: offer.id }) }}" class="btn--buy"
      >Editer</a
    >
    {% if user.id == offer.user.id %}
    {{ include("offer/_delete_form.html.twig") }}
    {% endif %} {% else %}
  </div>
  <div class="price--buy">
    <p>Prix total : {{ offer.credits }}</p>
    <button onclick="openModal()">Acheter</button>
  </div>
  {% endif %}
</section>
<!-- The Modal -->
<div id="overlay"></div>
<div id="myModal">
  <!-- Modal content -->
  <span class="close"></span>
  <h2>Confirmez votre achat</h2>
  <div class="card--items">
    <h3>{{ user.name }} {{ user.lastname }}</h3>
    <div class="flex--elements--card">
      <div class="price--card">
        <p>{{ offer.quantityKW }} KW</p>
      </div>
      <div class="action--card">
        <p>
          <a href="">{{ offer.credits }}</a>
        </p>
      </div>
    </div>
  </div>
  <a href="{{ path('transaction_new', { id: offer.id }) }}" class="btn--buy"
    >Acheter</a
  >
</div>
<script>
  const modal = document.getElementById("myModal");
  const overlay = document.getElementById("overlay");
  const html = document.getElementsByTagName("html")[0];
  const body = document.body;
  const openModal = () => {
    html.classList.add("open");
    body.classList.add("open");
    modal.classList.add("open");
    overlay.classList.add("open");
    overlay.onclick = closeModal;
  };
  const closeModal = () => {
    html.classList.remove("open");
    body.classList.remove("open");
    modal.classList.remove("open");
    overlay.classList.remove("open");
  };
</script>
{% endblock %}
