{% extends 'base.html.twig' %}

{% block title %}Offer index{% endblock %}

{% block body %}
    <h1>Offer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Localisation</th>
                <th>Credits</th>
                <th>QuantityKW</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for offer in user.offer %}
            <tr>
                <td>{{ offer.user.name }}</td>
                <td>{{ offer.user.lastname }}</td>
                <td>{{ offer.localisation }}</td>
                <td>{{ offer.credits }}</td>
                <td>{{ offer.quantityKW }}</td>
                <td>
                    <a href="{{ path('offer_show', {'id': offer.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offer_new') }}">Create new</a>
{% endblock %}
