{% extends 'base.html.twig' %}
{% block body %}

<style type="text/css">
.site-header{
    left: 0;
    top: 0;
    width: 100%;
    background-image: url("{{ asset('build/images/image-header-group.png') }}");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .side-header{
    float: right;
    max-height: 30em;
    width: auto;
  }

  .site-header-section {
    padding: 10% 0 10%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: "Montserrat", sans-serif;
  }

  .site-header-section h2{
    font-size: 3em;
  }

  .twocolumns {
    display: flex;
    padding: 5em 0 0 5em;
    max-width: 90%;
    align-items: center;
    justify-content: center;
  }

  .twocolumns__images {
      margin: 20px 30px;
    width: 20em;
    object-fit: contain;
    align-self: flex-start;
    }

  .single{
  margin-left: 4em;
  }

  .twocolumns__texts {
    width: 55%;
  padding: 0 5em;
  }

  .twocolumns__texts h3{
  font-size: 1.25em;
  color: #434343;
}

.twocolumns__texts p{
    font-size: 1em;
    color: #434343;
    font-weight: 400;
    line-height: 1.5em;
    width: 30em;
}


    .twocolumns__overlay{
      width: 20em;
      height: 20em;
      position: absolute;
      transform: translate(20%, 20%);
    }

  .header--title h2{
    font-weight: 700;
  }

  .onecolumn{
    padding: 1em;
    display: flex;
    flex-direction: column;
  }

  .center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .orange {
    background-color: #FED393;
    margin-top: 4em;
  }

  .onecolumn--header{
    font-weight: 700;
  text-align: center;
  padding-top: 1em;
  }

  .onecolumn-subtitle{
    padding: 0;
    width: auto;
    margin: 0;
    text-align: center;
  }

/** CARD STYLES */

  .card{
    background-color: white;
    width: fit-content;
    display: inline-block;
    margin: 2em;
    outline: 1px solid black;
    min-width: 18em;
    min-height: 15em;
  }

  .card--header{
    outline: 1px solid black;
    display: flex;
  }

  .card--header-1{
    border-right: 1px solid black;
    display: inline-block;
    width: 60%;
    height: 100%;
    padding: 2em;
    font-weight: 700;
  }

  .card--info-kw{
    border-right: 1px solid black;
    width: 55%;
    padding: 0.5em;
  }

  .card--header-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .card--description{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  
  .card--description ul {
  list-style: none; 
  padding-top: 1em;
  padding-left: 0;
}
  .card--description ul li::before{
  content: "\2022";  
  color: #FED393;
  font-weight: bold; 
  padding: 0.5em;
  display: inline-block; 
  width: 1em; 
  margin-left: -1em; 
  }

  .btn--white{
    border-radius: inherit;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1em;
    padding: 0.75em;
  }

  .btn--white:hover{
    background-color:#FED393;
    transition: linear 0.5s;
  }

  .large-icon {
    width: 250px;
    height: 250px;
    margin: 2em;
  }

  .small-icon {
    height: 3em;
    vertical-align: middle;
    margin: 0.5em;
  }

  .card--info-price{
    flex-grow: 1;
    background-color: #FED393;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .offer--section{
    display: flex;
    justify-content: center;
  }

  .rounded {
    border-radius: 35px;
    margin: 1em;
  }

  .link--learnMore:hover{
    background-color:#FED393;
    transition: linear 0.5s;
  }

  .right-side {
        margin-left: 8em;
  }



</style>
<div class="site-header">
  <div class="site-header-section">
    <h2>Partage ton surplus <br>d’énergie solaire</h2> 
  </div>
</div>
</div>

<div class="twocolumns">
  <img class="twocolumns__images" src="{{ asset('build/images/image-1new.png') }}">
  <div class="twocolumns__texts">
    <h3>Une communauté autonome</h3>
    <p>WeAreSun est la première plateforme en Suisse permettant 
    le partage d'électricité basé sur le modèle “peer-to-peer (P2P) energy trading”. Nous offrons un outil 
    qui favorise l’autonomie des communautés où les consommateurs et les producteurs d’énergie solaire 
    s’accordent pour échanger de l'électricité directement, sans avoir recours à un intermédiaire.</p>
  </div>
</div>

<div class="twocolumns">
  <div class="twocolumns__texts">
    <h3>Impact positif sur l’environnement</h3>
    <p>Notre outil permettra aux participants de soutenir 
    leurs communautés locales en les poussant à une consommation d’énergie 
    avec le moins d’impact possible sur l’environnment, sans avoir a investir dans une 
    installation solaire.</p>
  </div>
      <img class="twocolumns__images right-side" src="{{ asset('build/images/image-2new.png') }}">
</div>

<div class="twocolumns">
  <img class="twocolumns__images" src="{{ asset('build/images/image-3.png') }}">
  <div class="twocolumns__texts">
    <h3>Accessible à tous</h3>
    <p>WeAreSun est engagé à réduire considérablement le fonctionnement 
    global des prix de l’éléctricité en Suisse et finalement réduire vos factures d’électricité. 
    Que ce soit en permettant au particuliers de revendre leur surplus d’énergie solaire produit, 
    ou en permettant au particuliers sans installation solaire de bénéficier d’une consommation à un coût moins élevé.</p>
  </div>
</div>

<div class="onecolumn orange">
<h2 class="onecolumn--header">Nos offres</h2>
<p class="onecolumn-subtitle p--regular">Offres de surplus d’énergie solaire mis en vente  </p>

<div class="offer--section">
{% for offer in offers %}
        {% if offer.status == 0 %}
    <div class="card">
      <div class="card--header">
        <div class="card--header-1">{{ offer.user.name }} {{ offer.user.lastname }}</div>
        <div class="card--header-2"><img class="small-icon" src="{{ asset('build/images/profile-icon.svg') }}"></img></div>
      </div>
      <div class="card--header">
        <div class="card--info-kw">{{ offer.quantityKW }} Kwh</div>
        <div class="card--info-price">CHF {{ offer.credits }}.-</div>
      </div>
      <div class="card--description">
        <ul>
          <li>Localisation : {{ offer.localisation }}</li>
        </ul>
          <a href="{{ path('offer_show', {'id': offer.id}) }}" class="link--learnMore btn--white">Découvrir</a>
      </div>
  </div>
  {% endif %}
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </div>
    </div>
</div>
<div class="onecolumn center">
<h2 class="onecolumn--header">Voir mon profil</h2>
<p class="onecolumn-subtitle p--regular">Connectez-vous à votre compte pour voir votre profil ou inscrivez-vous ci-dessous.</p>
<img class="large-icon" src="{{ asset('build/images/profile-icon.svg') }}"></img>
      <a href="/register" style="cursor:pointer;"><button class="btn--white rounded">S'inscrire</button></a>
      <a href="/login" style="cursor:pointer;"><button class="btn--white rounded">Se connecter</button></>

</div>
{% endblock %}
