button {
    width: fit-content;
    padding: 15px 50px;
    text-align: center;
    height: fit-content;
    border-radius: 2em;
    border: none;
    background-color: #333232;
    color: white;               
}