input{

    &, select, textarea {
        width: 100%;
        padding-top: 12px;
        resize: vertical;
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid #333232;
        padding-bottom: 0.5em;
        margin-bottom: 2em;
      }
    
      &::placeholder{
          font-family: 'Roboto', sans-serif;
          font-size: 1em;
          color: #C4C4C4;
          font-weight: 300;
      }

      &[type=checkbox]{
        float:left;
        width: fit-content;
      }
    
    }




  