button {
  width: fit-content;
  padding: 15px 50px;
  text-align: center;
  height: fit-content;
  border-radius: 2em;
  border: none;
  background-color: #333232;
  color: white;
}

@font-face {
  font-family: "Silka";
  src: url("./fonts/Silka/silka-regular-webfont.ttf") format("truetype");
}
@font-face {
  font-family: "Silka";
  src: url("./fonts/Silka/silka-bold-webfont.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Silka";
  src: url("./fonts/Silka/silka-light-webfont.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Silka";
  src: url("./fonts/Silka/silka-medium-webfont.ttf") format("truetype");
  font-weight: 500;
}
body {
  font-family: "Silka", sans-serif;
  font-size: 1.25em;
  color: #434343;
  background-color: #FFFCF8;
  margin: 0;
  padding: 0;
}

html,
* {
  box-sizing: border-box;
}

p--regular {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0.3em;
}
p--regular-light {
  font-weight: 300;
  margin-top: 0.3em;
}
p--small {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 2em;
  color: #434343;
  font-family: "Silka", sans-serif;
}

a {
  color: #33BFD9;
  text-decoration: none;
}

.main-header {
  padding: 1em;
  display: flex;
}
.main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main-header ul li {
  margin: 0 0.5em;
}
.main-header ul a {
  color: #434343;
}

.logo {
  width: 10%;
  height: 50px;
}
.logo img {
  height: 100%;
  display: block;
}

nav {
  flex-grow: 1;
}

.account-nav {
  width: 10%;
}

* {
  transition: cubic-bezier(0.17, 0.67, 0.77, 0.83);
}

input, input select, input textarea {
  width: 100%;
  padding-top: 12px;
  resize: vertical;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #333232;
  padding-bottom: 0.5em;
  margin-bottom: 2em;
}
input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #C4C4C4;
  font-weight: 300;
}
input[type=checkbox] {
  float: left;
  width: fit-content;
}

/*# sourceMappingURL=app.css.map */
