<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/build/app.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>{% block title %} WeAreSun {% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` and uncomment the
    following Encore helpers to start using Symfony UX #} 
  </head>
  <style type="text/css">

.main-header {
  padding: 1em;
  display:flex;
}
.main-header ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}   
.main-header li{
      margin: 0 0.5em;
    }

.main-header li a{
      color:#434343;
    }

.logo{
  width: 10%;
  height: 50px;
}
.logo  img{
    height: 100%;
    display: block;
  }

nav {
  flex-grow: 1;
}

.account-nav{
  width: 10%;
}

  </style>
  <header class="main-header">
    <div class="logo">
      <img class"" src="{{ asset("build/images/WEARESUN-logo.svg") }}">
    </div>
    <nav>
        <ul class="nav-list main">
          <li>
            <a class="p--regular-light" href="{{path('index')}}">Accueil</a>
          </li>
          <li>
            <a class="p--regular-light" href="{{ path('offer_index') }}"
              >Offres</a
            >
          </li>
          <li>
            <a class="p--regular-light" href="{{ path('contact') }}"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <div class="account-nav">
        <ul class="nav-list">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li>
            <a class="p--regular-light" href="{{ path('app_logout') }}"
              >Logout</a
            >
          </li>
          <li>
            <a class="icon--user" href="{{ path('offer_new') }}">
              <span class="material-icons">account_circle</span>
            </a>
          </li>
          {% else %}
          <li>
            <a class="p--regular-light" href="{{ path('app_register') }}"
              >S'inscrire</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
  </header>
  <body>
    {% block body %} {% endblock %}
  </body>
  <footer>
    <style type="text/css">
      @font-face {
        font-family: "Silka";
        src: url("./fonts/silka-bold-webfont.ttf") format("truetype");
      }
      @font-face {
        font-family: "Silka";
        src: url("./fonts/silka-medium-webfont.ttf") format("truetype");
      }

      marquee {
        padding-top: 5em;
      }
      .twocolumns {
        display: flex;
        padding: 5em 0 0 5em;
        max-width: 90%;
        position: relative;
      }
      .twocolumns__image {
        flex-grow: 1;
        width: 10%;
      }
      .twocolumns__text {
        width: 50%;
        padding: 5em 5em;
      }

      .contact {
        margin-right: 3em;
        color: #434343;
      }

      .contact h2 {
        margin: 0;
        font-weight: 700;
      }

      .footer-links {
        display: flex;
        color: #434343;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.6em;
      }

      .footer-links ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        width: 80%;
      }

      .marquee-slider {
        padding-top: 3em;
        margin-right: 3em;
      }

    </style>
    <marquee behavior="slide" direction="left" scrollamount="30" loop="-1">
      <img
        class="marquee-slider"
        src="{{ asset('build/images/WEARESUN-logo.svg') }}"
      />
      <img
        class="marquee-slider"
        src="{{ asset('build/images/WEARESUN-logo.svg') }}"
      />
      <img
        class="marquee-slider"
        src="{{ asset('build/images/WEARESUN-logo.svg') }}"
      />
      <img
        class="marquee-slider"
        src="{{ asset('build/images/WEARESUN-logo.svg') }}"
      />
      <img
        class="marquee-slider"
        src="{{ asset('build/images/WEARESUN-logo.svg') }}"
      />
      <img
        class="marquee-slider"
        src="{{ asset('build/images/WEARESUN-logo.svg') }}"
      />
      <img
        class="marquee-slider"
        src="{{ asset('build/images/WEARESUN-logo.svg') }}"
      />
    </marquee>

    <div class="twocolumns">
      <div class="twocolumns__text contact">
        <h2>Prenez contact avec nous !</h2>
        <p>
          Vous avez des interrogations conçernant le concept we are sun ou vous
          souhaitez plus d’information sur le fonctionnement de la plateforme de
          partage d’énergie ?
        </p>
      </div>
      <div class="twocolumns__text">
        <input type="text" id="fname" name="firstname" placeholder="Nom" />
        <input type="text" id="fname" name="firstname" placeholder="Prénom" />
        <input type="email" id="fname" name="firstname" placeholder="Email" />
        <div><button type="submit" value="Submit">Envoyer</button></div>
      </div>
    </div>

    <div class="footer-links p--small">
      <ul>
        <li>Protection des données personnelles</li>
        <li>Politique cookies</li>
        <li>Accessibilité</li>
        <li>Mentions légales</li>
      </ul>
      <p>© Copyright 2021 wearesun - Tous droits réservés</p>
    </div>
  </footer>
</html>
