{% extends 'base.html.twig' %} {% block title %}Contact {% endblock %} {% block
body %}
<style>
  .flex-form-header {
    width: 30%;
    padding: 50px;
    background-color: white;
    margin: 50px;
  }
  .bg-yellow {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #fed393;
  }
  .flex-form-content {
    text-align: center;
  }
  .btn-submit {
    text-align: right;
  }
  .bg--img--grid {
    background-color: white;
    background-image: url(" {{ asset('build/images/grid_contact.png')}}");
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    display: flex;
    justify-content: flex-end;
  }

  .contact-details {
    width: 50%;
    padding: 100px;
    height: 780px;
    display:flex;
  }
  .contact-flex-left{
    margin-right: 100px;
  }
  .twocolumns__texts{
      padding: 0 2rem;
  }
</style>
<header>
  <div class="bg-yellow">
    <div class="flex-form-header">
      <div class="flex-form-content">
        <h3>Prenez contact avec nous !</h3>
        <p>
          C’est avec un grand plaisir que nous répondont à toute vos
          intérogations concernant notre plateforme de partage d’énergie
        </p>
      </div>
      <div class="twocolumns__texts">
        <input type="text" id="fname" name="firstname" placeholder="Nom" />
        <input type="text" id="fname" name="firstname" placeholder="Prénom" />
        <input type="email" id="fname" name="firstname" placeholder="Email" />
        <input type="textarea" id="fname" name="message" placeholder="Message" />
        <div class="btn-submit">
          <button type="submit" value="Submit">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="bg--img--grid">
    <div class="contact-details">
      <div class="contact-flex-left">
        <h5>Adresse</h5>
        <p>Bâtiment 43L, Route des Acacias 43</p>
        <p>1227 Genève, Suisse</p>
      </div>
      <div class="contact-flex-right">
        <h5>Contact</h5>
        <p>wearesun@gmail.com </p>
            <p>+41 00 000 00 00</p>
      </div>
    </div>
  </div>
</section>
<div><img src="{{ asset('build/images/flme1.png')}}" alt=""></div>

{% endblock %}
