{% extends 'base.html.twig' %}

{% block title %}Provider{% endblock %}

{% block body %}
    <h1>Provider</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ provider.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ provider.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('provider_index') }}">back to list</a>

    <a href="{{ path('provider_edit', {'id': provider.id}) }}">edit</a>

    {{ include('provider/_delete_form.html.twig') }}
{% endblock %}
