{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>{{ user.name }} {{user.lastname}}</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Energie</th>
                <th>credits</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user.quantityKW}}</td>
                <td>{{user.credits }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>

        </tbody>
    </table>

    {{ include('user/new.html.twig') }}

{% endblock %}