{% extends 'base.html.twig' %}

{% block title %}Offer{% endblock %}

{% block body %}
    <h1>Merci de votre commande !</h1>

    <table class="table">
        <tbody>
            <tr>
                <th></th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ offer.localisation }}</td>
            </tr>
            <tr>
                <th>Quantity KW</th>
                <td>{{ offer.quantityKW }}</td>
            </tr>
            <tr>
                <th>Credits</th>
                <td>{{ offer.credits }}</td>
                {% if user.id == offer.user.id %}
                {% else %}
                <td><a href="{{ path('transaction_new', {'id': offer.id}) }}">buy</a></td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('offer_index', {'id':  user.id}) }}">back to list</a>
    {% if user.id == offer.user.id %}
    <a href="{{ path('offer_edit', {'id': offer.id}) }}">edit</a>
    {{ include('offer/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
